
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
      <h1> {{title_candidate}} </h1>
      <h2> {{subtitle_candidate}} </h2>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="login-page">
            <div class="form">

              <br>
              <br>

                <form class="login-form">
                    <input type="text" [(ngModel)]="username" placeholder="username" name="username"/>
                    <input type="password" [(ngModel)]="password" placeholder="password" name="password"/>
                    <button (click)="throw(); signIn();" routerLink="/dashboard" routerLinkActive="active">login</button>
                </form>
                

            </div>
            </div>


    </div>
</div>


<hr>    
<footer>
    <div align= "center">
        <p class= "footer-message">All Rights Reserved.</p>
    </div>
</footer>

