<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Proyects</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>

      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="row">
  <select class="monitor-select" [(ngModel)]="profileId">
      <option value="null" disabled   selected>---- Selecciona un tipo de usuario ----</option>
      <option *ngFor="let data of profiles" [value]="data.id">
          {{data.name}}
      </option>
  </select>
</div>

<div class="row" *ngIf="profileId == '0'">
    <login-company-component (pasaDatosCo)="showDatosCo($event)" [title_company]="'Company title'" [subtitle_company]="'Company subtitle'" (email)="mostrarEmail($event)"></login-company-component>
</div>

<div class="row" *ngIf="profileId == '1'">
    <login-candidate-component (pasaDatosCa)="showDatosCa($event)" [title_candidate]="'Candidate title'" [subtitle_candidate]="'Candidate subtitle'"></login-candidate-component>
<!--</div>
-->